{% extends 'base.html' %}

{% block title %}
<title>Удаление товара</title>
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Выберите товар, который хотите удалить.</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-left">
  {% for item in data%}
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ item.title }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{ item.price }} <small class="text-muted">рублей</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
             <img src="{{ url_for('static', filename = item.photo) }}"
                  alt="Автор не приложил фотографию" width="300" height="200">
          </ul>
            <form method="post">
                <input type="text" class="form-control" name="delete" id="delete" placeholder="Удалить ... товар."><br>
                <button class="btn btn-danger" type="submit">Удалить {{item.id}} товар</button><br>
            </form>
        </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}